body{
  font-family: "Montserrat";
}

#title{
  background-color: #ff4c68;
    color: #fff;
}

/* NavBar CSS */

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-style: oblique;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Ubuntu";
}

/* Download Button */

.Download-button{
  margin: 5% 3% 5% 0;
}

.container-fluid{
  padding: 3% 15% 7%;

}

h1{
  font-family: 'Edu VIC WA NT Beginner-Black', cursive;
  font-size: 3.5rem;
  line-height: 1.5;
  padding-top: 4.5rem;
}

h2{
  font-family: "Ubuntu";
  font-size: 3rem;
  line-height: 1.5;
}


h3{
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 1.5rem;
}

/* Title Image */
.iphone{
  transform: rotate(25deg);
  width: 22%;
  margin-left: 50px;
  margin-top: 50px;
  position: absolute;
}


#features{
  padding: 7% 15%;
  /* line-height: 1.5; */
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.fa-color{
  color: #ef8172;
  margin-bottom: 1rem;
}

.fa-color:hover{
  color: #ff4c68;
}


.feature-box{
  text-align: center;
  padding: 5%;
}

p{
  color: #8f8f8f;
  margin: auto;
  line-height: 2;
}


/* Testimonial section */

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.h3{
  font-weight: bold;
}
.carousel-item{
    padding: 7% 15%;
}

.testimonials-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
  padding: 100px;
  text-align: center;
}

.bvdas{
  margin-top: 10px;
}

.pricing-col{
  padding: 3%;
}

@media (max-width: 991.28px) {
  #title{
    text-align: center;
  }
  .iphone{
    position: static;
    transform: rotate(0);
  }
}

/* cta section */

#cta{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 5%;
}

.h3{
  font-size: 3.5rem;
  line-height: 1.5
}

/* footer section */
#footer{
  background-color: #fff;
  padding: 5% 20%;
  text-align: center;
}

.fa-brands{
  margin: 10px;
}

.fa-solid{
  margin: 10px;
}
